#message {
  font-size:30px;
  color: white;
  width: 100px;
  padding: 10px;
  margin: 0;
  top: 10px;
}

#background {
  position:fixed;
  width: 575px;
  height: 250px;
  background: red;
  border-radius: 60px;
          border: 5px;
          border-color: pink;
}

@media all and (max-width: 500px) {
  #message {
    position: absolute;
    left: 800px;
  }
}

#opening {
  position:fixed;
  top: 35px;
  left: 90px;
  font-size: 30px;
}

#background2 {
  position: fixed; 
   width: 525px;
  height: 200px;
  background: purple;
  border-radius: 60px;
          border: 5px;
          border-color: pink;
  top: 30px;
  left: 30px;
}

#button {
  position: absolute;
  top: 270px;
  left: 25px;
  width: 305px;
  cursor: pointer;
  outline: none;
  color: darkblue;
  background-color: greenyellow;
  border: none;
  border-radius: 15px;
 }

#message {
  position: fixed;
  font-size: 20px;
  top: 270px;
  left: 325px;
  width: 300px;
  height: 400px;
  color: red;
}

#music {
  position:fixed;
  top: 140px;
  left: 590px;
}

#target {
/*   border: 1px solid black; */
/*   height: 500px; */
  position:fixed;
  top:0;
  left:0;
  height:100%;
  width:100%;
  display:flex;
  align-items:center;
  justify-content:center;
}


#circle1 {
  position: fixed;
  top: 70px;
  left: 80px;
  height: 150px;
  width: 150px;
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

#circle2{
  position:fixed;
  top: 70px;
  left: 350px;
  height: 150px;
  width: 150px;
  animation: rotation 2s infinite linear;
}
