
      #img3 {
      	position: absolute;
        width: 800px;
        left: 600px;
        top: -400px;
      }


      .text {
        position: absolute;
        width: 600px;
        font-family: arial;
        top: 300px;
      }
