#tech {
  position: fixed;
  font-size: 40px;
  color: white;
  width: 100px;
  height: 100px;
  left: 810px;
  font-family: Dada is the new Black;
  top: 260px;
  border: none;
  background: none;
  
}

#tech:hover {
  opacity: 50%;
}


#whole {
  position: fixed;
  width: 700px;
  height: 800px;
  left: 400px;
  top: 100px;
}

body { 
  background-image:url('https://gifdb.com/images/file/calm-blue-ocean-water-8hufj4afk7sutqxb.gif'); 
  background-repeat:repeat; }

#part1 {
  position: fixed;
  width: 370px;
  height: 400px;
  left: 735px;
  top: 110px;
}

#part1:hover {
opacity: 50%;
}

#part2 {
  position: fixed;
  width: 420px;
  height: 370px;
  left: 400px;
  top: 320px;
}
#part2:hover {
  opacity: 50%;
}

#part3 {
  position: fixed;
  width: 320px;
  height: 300px;
  left: 600px;
  top: 525px;
}

#part3:hover {
  opacity:50%;
}

#part4 {
  position: fixed;
  width: 260px;
  height: 415px;
  left: 835px;
  top: 442px;
}

#part4:hover {
opacity: 50%;
}

#tittle {
  position: fixed;
  font-size: 170px;
  width: 150px;
  font-family: Dada is the new Black;
}

#econo {
  position: fixed;
  font-size: 40px;
  color: white;
  width: 100px;
  height: 100px;
  left: 560px;
  font-family: Dada is the new Black;
  top: 450px;
  border: none;
  background: none;
}

#econo:hover {
  opacity: 50%;
}

#en {
  position: fixed;
  font-size: 40px;
  color: white;
  width: 100px;
  height: 300px;
  left: 687px;
  font-family: Dada is the new Black;
  top: 625px;
  border: none;
  background: none;
}

#en:hover {
  opacity:50%;
}

#art {
  position: fixed;
  font-size: 40px;
  color: white;
  width: 100px;
  height: 300px;
  left: 920px;
  font-family: Dada is the new Black;
  top: 580px;
  border: none;
  background: none;
}

#art:hover {
  opacity:50%;
}

#triangle {
  position:fixed;
  width:400px;
  height:600px;
  left:1110px;
  top: 200px;
}

#triangle:hover {
  opacity:50%;
}

#retos {
  position:fixed;
    font-family: Dada is the new Black;
  left:1240px;
  top: 500px;
  width: 200px;
}

#retos:hover {
  opacity:50%;
}
